<% content_for :head do %>
  <title><%= @user.name %> のモノリストページ</title>
  <meta name="description" content="<%= @user.name %>のモノリストページ。<%= @user.name %>の欲しいモノ、持っているモノを表示しています。" />
<% end %>

<%= render 'profile' , user: @user %>


<%= render 'items/list' , items: @items %>